<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KEPCO-Dashboard</title>
    <meta property="og:title" content="KEPCO-Dashborad">
    <meta name="description" content="Serving Platform">
    <link rel="canonical" href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><meta name="theme-color" content="#ad38f1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="js/chart/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  </head>
  <body>
    <% include ./part/side_menu.ejs %>
    <% include ./part/header.ejs %>

    <section id="content-area">
      <div class="heading">
        <h1>Dashboard</h1>
        <p><%= title %></p>
      </div>
      <div class="cards">
        <div class="col-md-6">
          <div class="card">
            <div id="middle">
              <h2>Model Information</h2><hr>
              <h5>Model Name: <%= model.model_name %></h5>
              <h5>Create Time: <%= model.create_time %></h5>
              <h5>Update Time: <%= model.update_time %></h5>
              <h5>Model Status: <%= model.model_state %></h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div id="middle">
              <h2>Deploy Options</h2><hr>
              <h5>Online Learning: <%= model.is_online_train %></h5>
              <h5>Adaptive Learning: <%= model.is_adaptive %></h5>
              <h5>AMI List: <%= model.ami %></h5>
            </div>
          </div>
        </div>
      </div>
      <h2>Hyper parameters</h2>
      <div class="cards">
        <div class="col-md-4">
          <div class="card">
            <div id="middle">
              <h2>Input Format</h2><hr>
              <h5>look_back_win_size: <%= model.input_format.look_back_win_size %></h5>
              <h5>input_shift_step: <%= model.input_format.input_shift_step %></h5>
              <% if(model.is_online_train) { %>
                <h5>look_forward_step: <%= model.input_format.look_forward_step %></h5>
                <h5>look_forward_win_size: <%= model.input_format.look_forward_win_size %></h5>
              <% } %>
            </div>
          </div>
        </div>
        <% if(model.is_online_train) { %>
        <div class="col-md-4">
          <div class="card">
            <div id="middle">
              <h2>Online Learning Options</h2><hr>
              <% if(model.online_param.online_method == 'inc') { %>
                <h5>Online Learning Method: Incremental Learning</h5>
              <% } else { %>
                <h5>Online Learning Method: Continual Learning</h5>
              <% } %>
              <h5>Batch Size: <%= model.online_param.batch_size %></h5>
            </div>
          </div>
        </div>
        <% if(model.online_param.online_method == 'cont') { %>
        <div class="col-md-4">
          <div class="card">
            <div id="middle">
              <h2>Continual Learning Options</h2><hr>
              <h5>Memory Method: <%= model.online_param.memory_method %></h5>
              <h5>Schedule: <%= model.online_param.is_schedule %></h5>
              <h5>Episodic Memory Size: <%= model.online_param.episodic_mem_size %></h5>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
    </section>
  </body>
</html>
